:root {
  font: 16px / 1 Geneva;
  background-color: rgb(172, 155, 204);
}

html {
  height: 100%;
}

body {
  margin: 5;
  min-height: 100%;
}

h1 {
  color: rgb(59, 22, 92);
  padding: 1rem;
  margin: 2rem;
  border-radius: 1rem;
  text-shadow: 2px 1px #000000;
}

p {
  color: rgb(151, 78, 103);
  padding: 0rem 2rem 0rem 2rem;
  font-family: Helvetica;
}

h4 {
  color: rgb(59, 22, 92);
  font-style: italic;
  font-size: smaller;
}

ul {
  color: rgb(151, 78, 103);
  border: 1px solid rgb(51, 4, 49);
  margin: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  padding: 1rem;
}
